.s_img_modal{
    cursor: pointer;
  }
  #simple_modal_outer{
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
  }
  #simple_modal_inner{
    box-sizing: border-box;
    max-width: 90%;
    max-height: 90%;
    border: 5px solid white;
  }
  #loading_mes{
    color: white;
    font-size: 1.2rem;
  }
  .flex{
    display: flex;
  }
  .hide{
    display: none;
  }